*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-main: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  font-family: var(--font-main);
}

